*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: 0;
    line-height: 100%;
}

input, button, textarea, select {
    outline: none;
    border: none;
    background: none;
}

button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}